header {
    box-sizing: border-box;

    p,
    ul {
        margin: 0px;
        padding: 0%;
    }

    * {
        box-sizing: border-box;
    }

    position: relative;
    //if I remove this border, my menu positioning will scatter. I don't know why
    border: .1px solid rgba(0, 0, 255, 0);

    nav {
        position: absolute;
        max-width: 100%;
        right: 0.5rem;
        padding: 0.5rem;
        display: flex;
        justify-content: end;
        width: fit-content;
        box-shadow: 0px 2px 4px rgba(172, 172, 172, 0.5);

        // overflow: hidden;
        li ul {
            // display: none;
            transition: 1s;
            height: 0px;
            width: 0px;
            font-size: 0px;
            padding: 0px;
            line-height: 0px;
            margin-left: 3rem;
            overflow: hidden;
            margin-top: -0.05rem;
            opacity: 0;
        }

        .drop-down-item:hover ul {
            display: block;
            height: auto;
            width: auto;
            font-size: inherit;
            margin-left: .5rem;
            padding: inherit;
            margin-top: 0rem;
            opacity: 1;
        }
    }

    //end nav
    .nav-links {
        display: block;
        position: absolute;
        width: 0px;
        height: 0px;
        // overflow: hidden;
        font-size: 0px;
        opacity: 0;
        top: 3rem;
        right: -0rem;
        transition: 1s;
        padding: 0px;

        li {
            list-style-type: none;
        }

        a {
            padding: .75rem 0.5rem;
            background-color: rgba(128, 128, 128, 0.301);
            border-bottom: 2px solid white;
            width: 100%;
            display: block;
        }

        a:hover,
        a:active {
            background-color: rgba(128, 128, 128, 0.5);
        }

        &>li ul a {
            padding: 0.9rem;
            border-bottom: 2px solid white;
            border-left: 5px solid rgb(136, 135, 135);
            width: 100%;
            display: block;
        }
    }

    &:hover .nav-links {
        border: 3px solid rgb(211, 211, 211);
        display: block;
        overflow: hidden;
        //   padding: 2rem;
        right: 0.5rem;
        width: 12rem;
        height: auto;
        font-size: inherit;
        background-color: #fff;
        margin-top: .5rem;
        box-shadow: 2.5px 2.5px 2px grey;
        opacity: 1;
    }

    div#menu {
        display: flex;
        // position: absolute;
        right: 0.5rem;
        align-items: center;
        border: 1px solid rgba(230, 209, 209, 0.63);
        width: fit-content;
        padding: 0px 0px 0px 0.25rem;
        box-shadow: 2px 2px 4px rgba(124, 124, 124, 0.681);

        div.lines {
            padding: 0.25rem;
            display: flex;
            justify-content: space-around;
            flex-direction: column;

            span {
                display: block;
                background-color: rgb(93, 93, 123);
                height: 0.25rem;
                border-radius: 2px;
                width: 2rem;
                margin: 0.25rem 0px;
            }
        }
    }
}

article {
    margin-top: 4rem;
}

// => 'sm': '640px',
@media (min-width: 640px) {}

// => 'md': '768px',
@media (min-width: 768px) {
    header {
        nav {
            div#menu {
                div.lines {
                    display: none;
                }
            }


            position: relative;
            width: 100%;
            //   overflow-x: hidden;
            box-sizing: border-box;
            justify-content: space-between;

            li ul {
                display: block;
                width: 0px;
                height: 0px;
                overflow: hidden;
                padding: 0px;
                line-height: 0px;
                margin: 0px;
                font-size: 0px;
            }

            .drop-down-item {
                position: relative;
                top: 1.5rem;
                height: auto;
            }

            .drop-down-item:hover {
                top: 0.0rem;
                background-color: rgba(128, 128, 128, 0.301);
                ;
            }

            .drop-down-item:hover ul {
                display: block;
                position: absolute;
                right: -.6rem;
                top: 3.1rem;
                text-align: left;
                margin: 0px;
                overflow: visible;
                z-index: 5;

                li,
                a {
                    line-height: normal;
                    background-color: rgb(226, 226, 226);
                    white-space: nowrap;
                }
            }
        }

        //end nav
        .nav-links {
            position: static;
            width: 100%;
            //   overflow: scroll;
            height: auto;
            font-size: 1.25rem;
            text-align: right;
            opacity: 1;

            &>li {
                display: inline-block;
                margin: 0px;
                text-align: center;
            }

            a {
                text-decoration: none;
                padding: .9rem;
            }
        }

        //end .nav-links
        &:hover .nav-links {
            display: inline-block;
            border: none;
            overflow: visible;
            // transition: none;
            margin: 0px;
            box-shadow: none;
            //   overflow: auto;
            //   padding: 2rem;
            text-align: right;
            width: 100%;
            font-size: 1.25rem;
            height: auto;
            background-color: #fff;

            opacity: 1;
        }
    }

    //end header
}

// => 'lg': '1024px',
@media (min-width: 1024px) {}

// => 'xl': '1280px',
@media (min-width: 1280px) {}

// => '2xl': '1536px',
@media (min-width: 1536px) {}