// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$dark-grey: #454545;
$lighter-grey-1: #B8B8B8;
$lighter-grey-2: #C2C2C2;
$lighter-grey-3: #D6D6D6;
$lighter-grey-4: #DBDBDB;
$purple: #653052;
$blue: #6666ff;
$red: #ed3237;
$orange: #ff6600;
$green: #06aa5d;
$magenta: #a8518a;
